
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vacuum Tube Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Righteous|Hammersmith+One|Press+Start+2P&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="debug.js"></script>
    <script src="colyseus.js"></script>
    <script src="draw.js"></script>

    <link rel="stylesheet" type="text/css" href="canvas_style.css">
  </head>
  <body>
        <div id="canvas_container">
            <canvas id="canvas">
            </canvas>
        </div>
        <div id="player_container"></div>
        <div id="qr_container">
          <p>Point your phone's camera at this code to join!</p>
          <img src="insert default qr code image here">
        </div>
    <script src="draw.js"></script>
    <script src="connect_to_room.js"></script>
    <script src="canvas_connections.js"></script>
    <script>canvas_init()</script>
    </body>
</html>
