
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vacuum Tube Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Righteous|Hammersmith+One|Press+Start+2P&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="debug.js"></script>
    <script src="colyseus.js"></script>
    <script src="draw.js"></script>
    <script src="game.js"></script>

    <link rel="stylesheet" type="text/css" href="player_style.css">
  </head>
  <body>
    <div id="debug"> </div>
      <div id="text"><div id="word">waiting.</div><div class="score">0</div></div>
      <div id="garden">
        <div id="player_tag" onclick="toggle_tilt()"></div>
        <div id="message">  </div>
        <canvas id="garden_canvas">
        </canvas>
        <div id="player_selector"></div>
      </div>
      <input type="submit" value="Clear" id="brushclearbutton" onclick="clearBrush();">
      <div id="output"></div>
    <script src="brush.js"></script>
    <script src="player_connections.js"></script>
    </body>
</html>
