body{
  /*font-family: 'Righteous', cursive;*/
  /*font-family: 'Hammersmith One', sans-serif;*/
  font-family: 'Press Start 2P', cursive;
}

/*brush style*/
#brush_ui{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#garden {
  background-color: white;
  position: relative;
  width: 85%;
  height: 70vh;
  margin: 9.5vh 7.45% ;
  border: 5px solid #CCC;
  border-radius: 10px;
  z-index: 10;
}

#garden_canvas{
  z-index: 1;
  opacity: .7;
}

#player_selector{
  display: none;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#player_selector .player{
  font-size: 35px;
  padding: 10% 0;
}

#message{
  display: none;
  z-index: 102;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 80%;
  text-align: center;
}
#player_tag{
  z-index: 101;
  position: absolute;
  top:-25px;
  left:-25px;
  width:50px;
  height:50px;
  border-radius: 100%;
  -webkit-animation: none;
  animation: none;
}
#text{
  position: absolute;
  width: 85%;
  margin: 20px 7.45% 9.5vh 7.45%;
  padding: 2px 10px;
  border: 5px solid #CCC;
  border-radius: 5px;
}
.score{
  float: right;
}
#word{
  float: left;
}
.player{
  text-align: center;
}
#player_tag .player{
  width: 100%;
  font-size: 35px;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  border-radius: 8px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
  };
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  };
}
#output{
  position: fixed;
  bottom: 0;
  left: 0;
}
/*canvas style*/
#canvas_ui {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#canvas_container .player {
  z-index: 101;
  position: absolute;
  top:0px;
  left:0px;
  width:50px;
  height:50px;
  border-radius: 100%;
  -webkit-animation: none;
  animation: none;
  font-size: 35px;
}

#canvas {
    float:left;
    width: 100%;
    height: 85vh;
}

#canvas_container {
    background-color: white;
    float:left;
    height:85vh;
    width:85%;
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

#player_container .player{
  height: 5vh;
  font-size: 3.3vh;
}

#buttons button{
  margin: 5% 15%;
  width:70%;
  height: 30vh;
  font-size: 15vh;
}

* {
  box-sizing: border-box;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  text-align: center;
  border-radius: 8px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}